@charset "UTF-8";

* {
	box-sizing: border-box;
}

main {}

h1 {
	font-family: Verdana, "Geneva", Tahoma, sans-serif;
	text-align: center;
	font-size: 3em;
	overflow-wrap: break-word;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

h2 {
	font-family: Verdana, "Geneva", Tahoma, sans-serif;
	text-align: center;
	font-size: 2em;
}

h3 {
	font-family: Verdana, "Geneva", Tahoma, sans-serif;
	margin: 0;
	margin-top: 50px;
	margin-bottom: 1rem;
}

body {
	line-height: 1.5;
	font-family: "Open Sans", sans-serif;
	width: 100vw;
	padding: 0;
	margin: 0;
}

/* Colors */
:root {
	--dark-background: #494747;
	--light-background: #FFFFFF;
	--grey-background: #CBC7C7;
	--red-background-light: #894E4E;
	--dark-text: #494747;
	--light-text: #FFFFFF;
}


.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
}

/* For small screens: */
[class*="col-"] {
	width: 100vw;
	padding: 1rem;
}

.row {
	width: 100vw;
}

/* responsive layout  */
@media only screen and (min-width: 600px) {

	/* For desktop: */
	.col-1 {
		width: 8.33%;
	}

	.col-2 {
		width: 16.66%;
	}

	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.33%;
	}

	.col-5 {
		width: 41.66%;
	}

	.col-6 {
		width: 50%;
	}

	.col-7 {
		width: 58.33%;
	}

	.col-8 {
		width: 66.66%;
	}

	.col-9 {
		width: 75%;
	}

	.col-10 {
		width: 83.33%;
	}

	.col-11 {
		width: 91.66%;
	}

	.col-12 {
		width: 100%;
	}
}

/** top navbar **/

.header ul li a {
	color: var(--dark-text);
}

.header {
	background-color: var(--light-background);
	position: fixed;
	width: 100%;
	height: 80px;

}


.logoimg {
	width: auto;
	padding: 0;
	position: relative;
}

.header ul {
	margin: 0;
	padding: 0;
	padding-top: 20px;
	list-style: none;
	overflow: hidden;
	background-color: transparent;
	position: absolute;
	top: 130px;
	right: 45px;
	width: 300px;
}

.header ul a {
	display: block;
	text-decoration: none;
}

.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}

.header .dropdown-menu {
	background-color: var(--grey-background);
	padding: 25px;
}

.header .menu-icon {
	background-color: var(--grey-background);
	padding-top: 20px;
	width: 50px;
	height: 50px;
	position: relative;
	float: left;
	cursor: pointer;
	margin-left: 40%;
	padding-left: 7%;
}

.header .menu-icon .nav-icon {
	background: var(--dark-text);
	display: block;
	height: 2px;
	width: 32px;
	position: relative;
	transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
	background: var(--dark-text);
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	top: 10px;
}

.header .menu-icon .nav-icon:after {
	background: var(--dark-text);
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	top: -10px;
}

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked~.menu {
	max-height: 1000px;
}

.header .menu-btn:checked~.menu-icon .nav-icon {
	background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon:before {
	transform: rotate(-45deg);
	top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
	transform: rotate(45deg);
	top: 0;
}


section {
	padding: 1rem;
}

article {
	padding: 1rem;
}

.top-header {
	background-color: var(--light-background);
	display: flex;
	justify-content: space-evenly;
}

#logo-img-main {
	display: block;
	width: 100%;
	height: auto;
	max-width: 200px;
	max-height: 200px;
	margin-left: auto;
	margin-right: auto;
	min-width: 50px;
}

#cart-div {
	padding-top: 4rem;
	width: 150px;
	text-align: center;
}

.cart {
	font-size: 40px;
	color: var(--dark-text);
}

/************ TEST DIV ***************/
.test1 {
	min-height: 500px;
	background-color: cyan;
}

#main-nav {
	padding-top: 4rem;
	width: 150px;
	text-align: center;
}

.footer-div {
	background-color: #bebebe;
	margin-top: 1rem;
}

.footer-h4 {
	text-align: center;
}

.footer-ul {

	text-align: center;
	list-style-type: none;
	padding: 0;
}

/* fixed nav menu */
.fixed-menu-div {
	margin-top: 200px;
	padding: 0;
	padding-top: 1rem;
}

.fixed-menu-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	text-align: center;
}

.fixed-menu-ul li {
	float: left;
	padding: 1rem;
}

.fixed-menu-div {
	color: #f2f2f2;
}

.fixed-menu-ul li a {
	color: #f2f2f2;
	text-decoration: none;
}

.fixed-menu-ul a:hover {
	background-color: #f2f2f2;
	color: #333;
}

.fixed-menu-div {
	text-decoration: none;
}

.row-spacer {
	margin-top: 1rem;
}

.top-spacer {
	padding: 80px;
	background-color: var(--light-background);

}

.dark-background {
	background-color: var(--dark-background);
	color: var(--light-text);
	text-align: center;
}

.ul-style-free {
	list-style-type: none;
	margin: 0;
	padding: 1rem;
}


hr.rounded {
	border-top: 3px solid var(--light-text);
	border-radius: 4px;
	width: 100%;
	max-width: 16rem;
}

.red-background {
	background-color: var(--red-background-light);
	color: var(--light-text);
	text-align: center;
	padding: 4rem;
}

.grey-background {
	background-color: var(--grey-background);
	color: var(--dark-text);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	/* padding: 9rem; */
}

.index-buttons {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.index-btn {
	background-color: var(--grey-background);
	color: var(--dark-text);
	text-decoration: none;
	width: 20rem;
	margin-top: 2rem;
	padding: 1.5rem 1rem 1.5rem 1rem;
}