@charset "UTF-8";

* {
    box-sizing: border-box;
}

main {
    /* background-color: var(--dark-background); */
}

h1 {
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    text-align: center;
    font-size: 3em;
    overflow-wrap: break-word;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
h2 {
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    text-align: center;
    font-size: 2em;
}
h3 {
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 1rem;
}
body {
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    width: 100vw;
    padding: 0;
    margin: 0;
}

/* Colors */
:root {
  --dark-background: #494747;
  --light-background: #FFFFFF;
  --grey-background: #CBC7C7;
  --red-background-light: #894E4E;
  --dark-text: #494747;
  --light-text: #FFFFFF;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

  /* For small screens: */
[class*="col-"] {
    width: 100vw;
    padding: 1rem;
}
.row {
    width: 100vw;
}
/* responsive layout  */
@media only screen and (min-width: 600px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

  /** top navbar **/

.header ul li a{
    color: var(--dark-text);
}
.header {
    background-color: var(--light-background);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 10000;
    /* height: auto; */

}

#header-id{
  max-height: 300px;
  transition: 0.4s;
  height: 200px;
  padding-bottom: 1px;
}

.logoimg {
    width: auto;
    padding: 0;
    position: relative;
}
.header ul {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    list-style: none;
    overflow: hidden;
    background-color: var(--light-background);
}
.header ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
}
.header ul a:hover {
    background-color: var(--dark-background);
    color: var(--light-text);
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    /* padding: 28px 20px; */
    padding-top: 20px;
    position: relative;
    float: left;
    cursor: pointer;
    padding-left: 40%;
}

.header .menu-icon .nav-icon {
    background: var(--dark-text);
    display: block;
    height: 4px;
    width: 32px;
    position: relative;
    transition: background .2s ease-out;
  }

  .header .menu-icon .nav-icon:before {
    background: var(--dark-text);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 10px;
  }

  .header .menu-icon .nav-icon:after {
    background: var(--dark-text);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -10px;
  }

  .header .menu-btn {
    display: none;
  }

  .header .menu-btn:checked ~ .menu {
    max-height: 1000px;
  }

  .header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }

  .header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }

  .header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }


section{
  padding: 1rem;
}
article {
  padding: 1rem;
}

.top-header {
  background-color: var(--light-background);
  display: flex;
  justify-content: space-evenly;
}

#logo-img-main {
  display: block;
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
  min-width: 50px;
}

#cart-div {
  padding-top: 4rem;
  width: 150px;
  text-align: center;
}

.cart {
  font-size: 40px;
  color: var(--dark-text);
}

/************ TEST DIV ***************/
.test1 {
  min-height:500px;
  background-color: cyan;
}

#main-nav {
  padding-top: 4rem;
  width: 150px;
  text-align: center;
}

.footer-div {
  background-color: #bebebe;
  margin-top: 1rem;
}

.footer-h4 {
  text-align: center;
}

.footer-ul {

  text-align: center;
  list-style-type: none;
  padding: 0;
}

/* fixed nav menu */
.fixed-menu-div {
  margin-top: 200px;
  padding: 0;
  padding-top: 1rem;
}

.fixed-menu-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  text-align: center;
}

.fixed-menu-ul li {
  float: left;
  padding: 1rem;
}

.fixed-menu-div {
  color: #f2f2f2;
}
.fixed-menu-ul li a{
  color: #f2f2f2;
  text-decoration: none;
}
.fixed-menu-ul a:hover {
  background-color: #f2f2f2;
  color: #333;
}
.fixed-menu-div {
  text-decoration: none;
}

.row-spacer {
  margin-top: 1rem;
}

.top-spacer {
  padding: 100px;
  background-color: var(--light-background);
}

.dark-background {
  background-color: var(--dark-background);
  color: var(--light-text);
  text-align: center;
}

.ul-style-free {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


hr.rounded {
  border-top: 8px solid var(--light-text);
  border-radius: 5px;
  width: 100%;
  max-width: 30rem;
}

.red-background {
  background-color: var(--red-background-light);
  color: var(--light-text);
  text-align: center;
  padding: 4rem;
}

.index-buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-btn {
  background-color: var(--grey-background);
  color: var(--dark-text);
  text-decoration: none;
  width: 20rem;
  /* max-width: 8rem; */
  margin-top: 2rem;
  padding: 1.5rem 1rem 1.5rem 1rem;
}