#productBody {
	position: relative;
	top: 2em;
	/* background-color: aquamarine; */
}

.product {
	display: grid;
	grid-template-columns: auto 2fr 1fr;
	grid-template-areas: 'picture details button';
	height: 17em;
	margin: 0.5em 0em;
	background-color: antiquewhite;
	align-items: center;
	overflow: hidden;
}

.button {
	font-size: .8em;
	grid-area: button;
	position: relative;
}

.productDetails {
	grid-area: details;
	position: relative;
	text-align: end;
}

.pPicture {
	grid-area: picture;
}

.btn {
	position: relative;
	font-size: 2em;
	border-radius: 100%;
	text-decoration: none;
	border: none;
	color: aliceblue;
	display: inline-block;

}

.addbtn {
	background-color: green;
	padding: 0em 0.3em;
}

.productDetails {
	font-size: 1.1em;
	margin-right: 1em;
}

.mbtn {
	display: none;
	padding: 0em 0.4em;
	background-color: rgb(254, 0, 0);
}

.pCount {
	color: rgb(22, 131, 0);
	font-weight: 600;
	font-size: 2em;
}

.pPicture img {
	height: 17em;
}

@media only screen and (max-width:600px) {
	.product {

		grid-template-areas: ' picture picture''button details';
		height: auto;
		grid-template-columns: 1fr 1fr;
		background-color: wheat;
	}

	.productDetails {
		color: rgb(0, 255, 60);
		text-align: start;
		padding: .5em;
		font-size: small;
		color: black;
	}

	.pPicture img {
		height: 17em;
		width: 100%;
	}

	.button {
		font-size: small;

		text-align: center;
	}
}