@charset "UTF-8";

#bbqList {
	list-style: none;
	background-color: #894E4E;
	padding: 0;
}

#bbqList li {
	border: 1px solid #ccc;
	border-radius: 8px;
	margin: 10px;
	padding: 10px;
	width: 300px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

#bbqList li img {
	max-width: 100%;
	height: auto;
	border-radius: 4px;
	margin-bottom: 10px;
}

#bbqList li strong {
	font-size: 1.2em;
	color: #333;
}

#bbqList li p {
	margin: 0;
}