@charset "UTF-8";

/* cart css */

/* Add your styles here */
main {
	background: rgb(171, 74, 74);
}

body {
	font-family: Arial, sans-serif;
	/* margin: 20px; */
}

h1 {
	text-align: center;
}

div {
	margin-bottom: 10px;
}

#orderList {
	border: 1px solid #ccc;
	padding: 10px;
}

#orderList div {
	margin-bottom: 5px;
}

button {
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	cursor: pointer;
}