@charset "UTF-8";

#orderList {
	border: 1px solid #ccc;
	padding: 10px;
}

#orderList div {
	margin-bottom: 5px;
}

button {
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	cursor: pointer;
}


#productCarousel {
	position: relative;
	overflow: hidden;
	margin-top: 20px;
}

#carouselContainer {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel-image {
	max-width: 500px;
	max-height: 500px;
	padding: 1rem;
	width: 100%;
	height: auto;

}

.carousel-data-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.carousel-select-div {
	display: flex;
	justify-content: space-evenly;


}

.carousel-select {
	background-color: #333;
	font-size: 2rem;
	color: #f2f2f2;
	margin: 1rem;
}

.carousel-item {}

#prevBtn,
#nextBtn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	background: none;
	border: none;
	cursor: pointer;
}

#prevBtn {
	left: 10px;
}

#nextBtn {
	right: 10px;
}

.product-button {
	background-color: var(--button-color-1);
	width: 6rem;
	padding: 1rem;
	font-size: 1.5rem;
	margin: 1rem;
}

.product-container {
	width: 20rem;
	min-height: 40rem;
	margin: 1rem;
	max-width: 300px;
}

.category-products-div {
	display: flex;
	justify-content: center;
}

.product-image {
	max-width: 300px;
	max-height: 300px;
	min-height: 300px;
}

.category-section {}

.category-products-div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.product-details {
	min-height: 20rem;
}

/* .product-container img {
	max-width: 300px;
	min-width: 300px;
	min-height: 300px;
} */

.quantity-counter {
	font-size: 2rem;
	padding: 0.6rem;
	border: #333 solid 1px;
}

#order-form {
	display: flex;
	justify-content: center;
}

.order-form-class {
	display: flex;
	flex-direction: column;
	min-width: 200px;
	max-width: 40%;
	width: 100%;
}

.form-cart {
	padding: 1rem;
	min-width: 170px;
	max-width: 800px;
	width: 100%;
}

.button-buy {
	display: flex;
	justify-content: center;
}

.form-cart-buy {
	margin-top: 2rem;
	padding: 1rem 2rem 1rem 2rem;
	text-align: center;
	background-color: #333;
	color: #f2f2f2;
	font-size: 2rem;
	max-width: 60%;
}

.order-details-div {
	display: flex;
	justify-content: center;
}

#total-cost {
	text-align: center;
	font-size: 2rem;
}